html {
    font-size: 18px;
    line-height: 1.4;
    font-family: Helvetica;
}

header {
    background-image: url("../img/glasses-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30rem;
    padding-top: 1rem;
}

.site-container {
    max-width: 960px;
    margin: 0 auto;
}

.white-font {
    color: white;
}

.menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: cadetblue;
    padding: 1rem 2rem;
}

.logo {
    display: flex;
    align-items: center;
}
.logo img {
    padding-right: 1rem;
    height: 1.5rem;
}

nav a {
    text-decoration-line: none;
    padding-left: 2rem;
}

.slogan {
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.2;
    padding: 1.5rem 5rem;
    float: right;
    margin-top: 10rem;
    margin-right: 5rem;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.services-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 5rem;
    height: 8rem;
}

.fittings {
    padding-right: 3rem;
    padding-left: 3rem;
}

.service-img {
    display: block;
    width: 3.5rem;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.about-box {
    max-width: 35%;
    margin-bottom: 5rem;
}

.about-box h3 {
    color: white;
    background-color: cadetblue;
    font-weight: bold;
    font-size: 1rem;
    max-width: 10rem;
    padding: 0.5rem 1.25rem;
}

.about-box p {
    margin-top: 1rem;
}

footer {
    background-color: azure;
    padding: 4rem;
}



@media only screen and (max-width: 970px) {
    .site-container {
        max-width: 100%;
    }

    header {
        padding-top: 0;
        height: 22rem;
    }

    .slogan {
        font-size: 1.33rem;
        padding: 0.75rem 4rem;
        margin-top: 5rem;
        margin-right: 2rem;
    }

}

@media only screen and (max-width: 460px) {
    header {
        height: 17rem;
        padding-bottom: 2rem;
        background-position: 20%;
    }

    .slogan {
        width: 100%;
        margin-top: 9rem;
        margin-right: 0;
        padding: 1rem 0;
        font-size: 1rem;
        text-align: center;
    }

    .logo span {
        display: none;
    }

    nav a {
        display: none;
    }

    nav a:after {
        visibility: visible;
        display: block;
        content: 'Menu';
    }

    .services-container {
        flex-direction: column;
        height: auto;
    }

    .about {
        display: flex;
        flex-direction: column;
    }
}
